# Terraform
# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/tfplan
**/tfplan.*
**/*.tfstate
**/*.tfstate.*


# Ansible
*.retry

# Secrets
secrets/*
!secrets/.gitkeep

# OS / Editor
.DS_Store
.vscode/
.idea/
