# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/tfplan
**/tfplan.*
**/*.tfstate
**/*.tfstate.*
**/*.tfvars

# Ansible
*.retry
20_ansible/inventories/prod/*
20_ansible/inventories/prod/.gitkeep


# Keys
keys/*
!keys/.gitkeep
!keys/admin_ssh_key.pub

# OS / Editor
.DS_Store
.vscode/
.idea/
