[defaults]
inventory = 20_ansible/inventories/prod/hosts.yml
roles_path = 20_ansible/roles
remote_user = iac
private_key_file = keys/iac_ssh_key
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
forks = 10
gathering = smart
fact_caching = jsonfile
fact_caching_connection = 20_ansible/.fact_cache
fact_caching_timeout = 86400

[ssh_connection]
pipelining = True
