services:
{% for app in servarr_apps %}
  {{ app.name }}:
    image: {{ app.image }}
    container_name: {{ app.name }}
    restart: unless-stopped
    env_file:
      - ./env/{{ app.name }}.env
    volumes:
      - ./config/{{ app.name }}:/config
      - {{ data_root }}:/data
    ports:
      - "{{ app.port }}:{{ app.port }}"
{% endfor %}
