- name: Get container IP address
  command: hostname -I
  register: host_ips
  changed_when: false

- name: Set Pi-hole IP fact
  set_fact:
    pihole_ip: "{{ host_ips.stdout.split()[0] }}"

- name: Configure Pi-hole setupVars
  template:
    src: setupVars.conf.j2
    dest: "{{ pihole_install_dir }}/setupVars.conf"
    owner: root
    group: root
    mode: "0644"
  notify: Restart Pi-hole services

- name: Set Pi-hole web password
  command: >
    pihole -a -p {{ pihole_webpassword }}
  when: pihole_webpassword != "changeme"
