- name: Enable Pi-hole services
  systemd:
    name: "{{ item }}"
    enabled: true
  loop:
    - pihole-FTL
    - lighttpd

- name: Ensure Pi-hole services are running
  systemd:
    name: "{{ item }}"
    state: started
  loop:
    - pihole-FTL
    - lighttpd
