---
# ============================================================
# Homelab Master Playbook
#
# This playbook is safe to run repeatedly.
# It configures all infrastructure created by Terraform.
# ============================================================

# ------------------------------------------------------------
# IaC Controller (LOCALHOST)
# ------------------------------------------------------------
- name: Configure IaC Controller
  hosts: localhost
  become: true

  roles:
    - common
    - iac_controller

# ------------------------------------------------------------
# Core Stack
# ------------------------------------------------------------
- name: Configure CI Runners
  hosts: ci_runner
  become: true
  roles:
    - common
    - docker
    - ci_runner

- name: Configure Networking Services
  hosts: pihole
  become: true
  roles:
    - common
    - pihole

# ------------------------------------------------------------
# Databases
# ------------------------------------------------------------
- name: Configure Redis
  hosts: db_redis
  become: true
  roles:
    - db_redis

- name: Configure MySQL
  hosts: db_mysql
  become: true
  roles:
    - db_mysql

- name: Configure PostgreSQL
  hosts: db_postgres
  become: true
  roles:
    - db_postgres

- name: Configure MongoDB
  hosts: db_mongo
  become: true
  roles:
    - db_mongo

# # ------------------------------------------------------------
# # Monitoring Stack
# # ------------------------------------------------------------
# - name: Configure Monitoring Nodes
#   hosts: monitoring
#   become: true
#   roles:
#     - common
#     - monitoring

# # ------------------------------------------------------------
# # Docs / Wikis
# # ------------------------------------------------------------
# - name: Configure Documentation Nodes
#   hosts: docs
#   become: true
#   roles:
#     - common
#     - docs


# ------------------------------------------------------------
# Media Stack
# ------------------------------------------------------------

- name: Configure Media Servers
  hosts: media_srv
  become: true
  roles:
    - media_srv

- name: Configure Media Management
  hosts: media_mgmt
  become: true
  roles:
    - media_mgmt
