---
# ============================================================
# Homelab Master Playbook
#
# This playbook is safe to run repeatedly.
# It configures all infrastructure created by Terraform.
# ============================================================

# ------------------------------------------------------------
# IaC Controller (LOCALHOST)
# ------------------------------------------------------------
- name: Configure IaC Controller
  hosts: localhost
  become: true

  roles:
    - common
    - iac_controller



# ------------------------------------------------------------
# Core Stack
# ------------------------------------------------------------
- name: Configure CI Runners
  hosts: ci_runner
  become: true

  roles:
    - common
    - docker
    - ci_runner

- name: Configure Pi-hole
  hosts: pihole
  become: true

  roles:
    - common
    - pihole

# # ------------------------------------------------------------
# # Monitoring Stack
# # ------------------------------------------------------------
# - name: Configure Monitoring Nodes
#   hosts: monitoring
#   become: true

#   roles:
#     - common
#     - monitoring


# # ------------------------------------------------------------
# # Databases
# # ------------------------------------------------------------
# - name: Configure Database Nodes
#   hosts: databases
#   become: true

#   roles:
#     - common
#     - databases


# # ------------------------------------------------------------
# # Media Stack
# # ------------------------------------------------------------
# - name: Configure Media Nodes
#   hosts: media
#   become: true

#   roles:
#     - common
#     - media


# # ------------------------------------------------------------
# # Docs / Wikis
# # ------------------------------------------------------------
# - name: Configure Documentation Nodes
#   hosts: docs
#   become: true

#   roles:
#     - common
#     - docs


# # ------------------------------------------------------------
# # Misc / Experimental
# # ------------------------------------------------------------
# - name: Configure Misc Nodes
#   hosts: misc
#   become: true

#   roles:
#     - common
