docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-buildx-plugin
  - docker-compose-plugin

docker_apt_key_url: https://download.docker.com/linux/ubuntu/gpg
docker_apt_repo: >
  deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg]
  https://download.docker.com/linux/ubuntu
  {{ ansible_distribution_release }} stable

docker_users:
  - iac

docker_daemon_config:
  log-driver: json-file
  log-opts:
    max-size: "100m"
    max-file: "3"
