- name: Install base packages
  ansible.builtin.apt:
    name:
      - curl
      - ca-certificates
      - gnupg
      - lsb-release
      - php-cli
      - php-sqlite3
      - php-intl
      - php-curl
      - wget
    state: present
    update_cache: true

- name: Install Pi-hole dependencies
  ansible.builtin.apt:
    name:
      - dnsutils
    state: present

- name: Add Caddy repository
  ansible.builtin.include_role:
    name: apt_repo
  vars:
    apt_repo_name: caddy
    apt_repo_key_url: https://dl.cloudsmith.io/public/caddy/stable/gpg.key
    apt_repo_repo_line: "https://dl.cloudsmith.io/public/caddy/stable/deb/ubuntu jammy main"

- name: Install Caddy
  ansible.builtin.apt:
    name: caddy
    state: present

- name: Add Tailscale repository
  ansible.builtin.include_role:
    name: apt_repo
  vars:
    apt_repo_name: tailscale
    apt_repo_key_url: https://pkgs.tailscale.com/stable/ubuntu/jammy.noarmor.gpg
    apt_repo_repo_line: "https://pkgs.tailscale.com/stable/ubuntu jammy main"

- name: Install Tailscale
  ansible.builtin.apt:
    name: tailscale
    state: present