- name: Install base packages
  ansible.builtin.apt:
    name:
      - curl
      - ca-certificates
      - gnupg
      - lsb-release
    state: present
    update_cache: true

- name: Install Pi-hole dependencies
  ansible.builtin.apt:
    name:
      - dnsutils
    state: present

- name: Add Caddy repository
  ansible.builtin.include_role:
    name: apt_repo
  vars:
    apt_repo_name: caddy
    apt_repo_key_url: https://dl.cloudsmith.io/public/caddy/stable/gpg.key
    apt_repo_repo_line: "https://dl.cloudsmith.io/public/caddy/stable/deb/ubuntu jammy main"

- name: Install Caddy
  ansible.builtin.apt:
    name: caddy
    state: present

- name: Install Tailscale
  ansible.builtin.apt:
    name: tailscale
    state: present