- name: Install base packages
  ansible.builtin.apt:
    name:
      - curl
      - ca-certificates
      - gnupg
      - lsb-release
    state: present
    update_cache: true

- name: Install Pi-hole dependencies
  ansible.builtin.apt:
    name:
      - dnsutils
    state: present

- name: Install Caddy
  ansible.builtin.apt:
    name: caddy
    state: present

- name: Install Tailscale
  ansible.builtin.apt:
    name: tailscale
    state: present