- name: Verify Pi-hole DNS port is open
  ansible.builtin.wait_for:
    port: 53
    timeout: 30

- name: Verify reverse proxy HTTP
  ansible.builtin.wait_for:
    port: 80
    timeout: 30

# - name: Verify Tailscale is connected
#   ansible.builtin.command: tailscale status
#   register: tailscale_validate
#   changed_when: false
#   failed_when: "'Logged out' in tailscale_validate.stdout"
