N8N_PROTOCOL=http
N8N_HOST={{ n8n_domain | regex_replace('http://', '') }}
N8N_PORT=5678

TZ=Asia/Kolkata
N8N_DEFAULT_TIMEZONE=Asia/Kolkata
N8N_SECURE_COOKIE=false
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER={{ n8n_basic_auth_user }}
N8N_BASIC_AUTH_PASSWORD={{ n8n_basic_auth_password }}
