name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  validate:
    if: github.event.pull_request.head.repo.full_name == github.repository || github.event_name == 'push'
    runs-on: [self-hosted, linux, prod, ci]

    steps:
      - uses: actions/checkout@v4

      - name: Terraform fmt
        run: terraform fmt -check

      - name: Terraform validate
        run: terraform validate
